{% extends 'partials/base.html.twig' %}

{% block content %}
    <h2>{{ page.title }}</h2>
    {{ page.content }}

    <ul class="overview">
        {% for page in page.collection() %}
            {% if page.title != 'Dubai' %}{# TODO: remove temporary dubai hack #}
                <li class="overview-item">
                    <div class="overview-part">
                        <a href="{{ page.url }}"><img src="/content/blog/pics/{{ page.picture }}"></a>
                    </div>
                    <div class="overview-part">
                        <span class="overview-meta">{{ page.date_formatted }}</span>
                        <h3 class="overview-title"><a href="{{ page.url }}">{{ page.title }}</a></h3>
                        <p class="overview-content">{{ page.header.description }}</p>
                        <a class="overview-link" href="{{ page.url }}">Lesen</a>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
